.input-form-container {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em 4em;
}

.input-form-content-container {
  padding: 1em 1em;
}

.input-form-content-container h1 {
  color: #411f53;
  font-weight: 700;
  padding-bottom: 1em;
}

.input-form-content-container .input-form {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 1em;
}

.input-form-content-container .input-form .input-form-group {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 1em;
}

.input-form label {
  color: #504c46;
  font-size: 1.3rem;
  font-weight: 500;
}

.input-form h4 {
  color: #504c46;
  font-size: 1.3rem;
  font-weight: 500;
}

.input-form-group input {
  background-color: #f5eee5;
  border: 1px solid #504c46;
  padding: 1.3em 1.3em 1.3em 1em;
  border-radius: 10px 10px 10px 10px;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
}

.input-radio {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.input-radio-group {
  display: flex;
  flex-direction: row;
  gap: 5em;
  align-items: center;
  text-align: center;
}

.input-radio-group label {
  display: flex;
  flex-direction: row;
  gap: 1.2em;
  font-size: 1.2rem;
  text-align: center;
}

.input-btn-child {
  background-color: #522a68;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  padding: 0.5em 3em;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #522a68;
  width: 12%;
}

.updateBtn-child {
  background-color: #66c95d;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  padding: 0.5em 3em;
  font-size: 1.2rem;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #66c95d;
  width: 15%;
}

input[type="radio"] {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

@media (max-width: 1650px) {
  .input-form-container {
    min-height: 116vh;
  }
}

@media (max-width: 1370px) {
  .input-form-container {
    min-height: 110vh;
  }
}
