.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

/* Menambahkan box shadow pada hover */
.navbar:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.3s ease;
}

.nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: #5e4c88;
  font-weight: 700;
  font-size: 2.1rem;
}

.nav-header span {
  color: #bc9892;
  font-weight: 400;
}

.nav-header img {
  width: 95px;
  height: 95px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#hamburger-button {
  border: none;
  outline: none;
  background-color: #fff;
  width: 50px;
  height: 50px;
  display: none;
}

.navbar-nav .list {
  display: flex;
}

.list a {
  text-decoration: none;
  color: #aba798;
  font-weight: 600;
  padding: 1em;
  font-size: 1.1rem;
}

.list #btn-login {
  display: none;
}

.list #btn-regis {
  display: none;
}

.list a:hover {
  color: #755eac;
}

.nav-links[aria-current="page"]{
  color: #5e4c88;
}

.extra {
  display: flex;
  gap: 0.7em;
}

.extra a {
  border-radius: 10px 10px 10px 10px;
  padding: 0.4em 1.2em;
  font-size: 1.1rem;
  text-decoration: none;
}

.extra #btn-login {
  background-color: #7c766b;
  color: #fff;
  border: 1px solid #7c766b;
  font-weight: 500;
}

.extra #btn-login:hover {
  background-color: #fff;
  color: #7c766b;
  transition: 0.2s ease;
}

.extra #btn-regis {
  background-color: #fff;
  color: #7c766b;
  border: 1px solid #7c766b;
  font-weight: 500;
}

.extra #btn-regis:hover {
  background-color: #7c766b;
  color: #fff;
  transition: 0.2s ease;
}

.navbar .dropdown button {
  padding: 0.5em 2em;
  background-color: #7c766b;
  color: #fff;
  border: 1px solid #7c766b;
  font-weight: 600;
  width: 100%;
  font-size: 1.1rem;
}

.navbar .dropdown .dropdown-menu {
  background-color: #7c766b;
  width: 100%;
}

.navbar .dropdown .dropdown-menu li a {
  color: #fff;
  background-color: #7c766b;
}

.navbar .dropdown .dropdown-menu li a:hover {
  color: #000;
}
